<app-header></app-header>
<div class="reset-password-container">
    <div class="form-container">
        <h1>Nueva Contraseña</h1>
        <p class="instructions">Ingresa tu nueva contraseña</p>

        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
            <mat-form-field appearance="outline">
                <mat-label>Nueva Contraseña</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword" placeholder="Nueva Contraseña" />
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" tabindex="-1" type="button">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="hasError('newPassword', 'required')"> La contraseña es requerida </mat-error>
                <mat-error *ngIf="hasError('newPassword', 'minlength')"> La contraseña debe tener al menos 10 caracteres </mat-error>
                <mat-error *ngIf="hasError('newPassword', 'pattern')"> La contraseña debe tener al menos una letra y un número </mat-error>
            </mat-form-field>

            <app-submit [withText]="!loadingReset" [loading]="loadingReset" [disabled]="resetForm.invalid">
                Actualizar Contraseña
            </app-submit>
        </form>

        <div class="back-to-login">
            <a routerLink="/login">Volver al inicio de sesión</a>
        </div>
    </div>
</div>
