@import '../../../../assets/styles/colors.scss';

.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        max-width: 500px;

        h1 {
            margin-bottom: 20px;
            text-align: center;
        }

        .instructions {
            text-align: center;
            color: #666;
            margin-bottom: 20px;
            font-size: 14px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            width: 100%;

            button {
                width: fit-content;
            }

            mat-form-field {
                width: 100%;
                min-width: 260px;
                max-width: 340px;
            }
        }

        .back-to-login {
            margin-top: 20px;
            text-align: center;

            a {
                color: $secondary-color;
                font-size: 14px;
            }
        }
    }
}
