<app-header></app-header>
<div class="login-container">
    <div class="form-container">
        <h1>Iniciar Sesión</h1>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email" />
                <mat-error *ngIf="hasError('email', 'required')"> El email es requerido </mat-error>
                <mat-error *ngIf="hasError('email', 'invalidEmail')"> El email debe tener el formato: ejemplo&#64;dominio.com </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Contraseña" />
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" tabindex="-1" type="button">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="hasError('password', 'required')"> La contraseña es requerida </mat-error>
            </mat-form-field>

            <div class="forgot-password-link">
                <a routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>
            </div>

            <app-submit [withText]="!loadingLogin" [loading]="loadingLogin" [disabled]="loginForm.invalid"> Iniciar Sesión </app-submit>
        </form>
    </div>
</div>
