.profile-container {
    margin: 32px auto;
    padding: 24px;
    background: #fff;
    border-radius: 12px;
    width: fit-content;
}

.loading-spinner {
    margin-top: 12px;
}

.profile-form {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
}
.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}
