# Dependencias y archivos generados por Node.js (backend)
Ateneo-backend-Express/node_modules/
Ateneo-backend-Express/dist/
Ateneo-backend-Express/.env
Ateneo-backend-Express/.env.local
Ateneo-backend-Express/.DS_Store
Ateneo-backend-Express/prisma/dev.db
# Ignorar migraciones de Prisma y migration_lock.toml, pero NO schema.prisma
Ateneo-backend-Express/prisma/migrations/
Ateneo-backend-Express/prisma/migration_lock.toml

# Dependencias y archivos generados por Angular (frontend)
Ateneo-frontend-Angular/node_modules/
Ateneo-frontend-Angular/dist/
Ateneo-frontend-Angular/.env
Ateneo-frontend-Angular/.env.local
Ateneo-frontend-Angular/.DS_Store
Ateneo-frontend-Angular/.angular/

# Configuraciones y archivos temporales de editores y sistema
.vscode/
*.log
Thumbs.db
.DS_Store
NicoGarcia12
NicoGarcia12.pub
*.pem
*.key
*.pub
