$primary-color: #355456;
$secondary-color: #53777a;
$terciary-color: #f3c561;
$grey-color: #2b2b2b;
$grey-white-color: #afafaf33;
$white-color: #f5f5f5;

:root {
  --primary-color: #355456;
  --secondary-color: #53777a;
  --terciary-color: #f3c561;
  --grey-color: #2b2b2b;
  --grey-white-color: #afafaf33;
  --white-color: #f5f5f5;
}