// Botones
.primary-button {
    background-color: $primary-color !important;
    color: $white-color !important;
}

.secondary-button {
    background-color: transparent !important;
    color: $secondary-color !important;
    border: 1px solid $secondary-color !important;
}

.disabled-button {
    background-color: $grey-white-color !important;
}

// Notificación
.success-notify .mdc-snackbar__surface,
.error-notify .mdc-snackbar__surface,
.info-notify .mdc-snackbar__surface,
.warning-notify .mdc-snackbar__surface {
    border-radius: 20px !important;
    min-width: 0 !important;

    .mat-mdc-snack-bar-label {
        color: black;
        font-size: 1rem;
        font-weight: bold;
    }

    .mdc-button__label {
        color: black !important;
        font-size: 0.8rem;
        margin-left: 20px;
        font-weight: bold;
    }
}

.success-notify .mdc-snackbar__surface {
    background-color: #4caf50 !important;
}

.error-notify .mdc-snackbar__surface {
    background-color: #f44336 !important;
}

.info-notify .mdc-snackbar__surface {
    background-color: #2196f3 !important;
}

.warning-notify .mdc-snackbar__surface {
    background-color: #ff9800 !important;
}
