<app-header></app-header>
<div class="sign-up-container">
    <div class="form-container">
        <h1>Crea tu cuenta</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="mat-form-field-container" [ngClass]="{ row: !isMobile, column: isMobile }">
                <mat-form-field appearance="outline">
                    <mat-label>Nombres</mat-label>
                    <input matInput formControlName="firstName" placeholder="Nombres" />
                    <mat-error *ngIf="hasError('firstName', 'required')"> Campo requerido </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="lastName" placeholder="Apellidos" />
                    <mat-error *ngIf="hasError('lastName', 'required')"> Campo requerido </mat-error>
                </mat-form-field>
            </div>

            <div class="mat-form-field-container" [ngClass]="{ row: !isMobile, column: isMobile }">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email" />
                    <mat-error *ngIf="hasError('email', 'required')"> El email es requerido </mat-error>
                    <mat-error *ngIf="hasError('email', 'invalidEmail')">
                        El email debe tener el formato: ejemplo&#64;dominio.com
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Contraseña" />
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" tabindex="-1" type="button">
                        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <mat-error *ngIf="hasError('password', 'required')"> La contraseña es requerida </mat-error>
                    <mat-error *ngIf="hasError('password', 'minlength')"> La contraseña debe tener al menos 10 caracteres </mat-error>
                    <mat-error *ngIf="hasError('password', 'pattern')"> La contraseña debe tener al menos una letra y un número </mat-error>
                </mat-form-field>
            </div>
            <app-submit [withText]="!signUpLoading" [loading]="signUpLoading" [disabled]="signUpForm.invalid"> Registrarse </app-submit>
        </form>
    </div>
</div>
