<div class="subject-details-container">
    <div class="students-table-container">
        <div class="table-wrapper">
            <mat-table [dataSource]="studentsList" class="students-table">
                <ng-container matColumnDef="identification">
                    <mat-header-cell *matHeaderCellDef>DNI</mat-header-cell>
                    <mat-cell *matCellDef="let student">{{ student.dni }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Estudiante</mat-header-cell>
                    <mat-cell *matCellDef="let student">{{ student.firstName }} {{ student.lastName }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="grade1">
                    <mat-header-cell *matHeaderCellDef>Nota 1</mat-header-cell>
                    <mat-cell *matCellDef="let student">10</mat-cell>
                </ng-container>

                <ng-container matColumnDef="grade2">
                    <mat-header-cell *matHeaderCellDef>Nota 2</mat-header-cell>
                    <mat-cell *matCellDef="let student">10</mat-cell>
                </ng-container>

                <ng-container matColumnDef="gradeN">
                    <mat-header-cell *matHeaderCellDef>Nota n</mat-header-cell>
                    <mat-cell *matCellDef="let student">10</mat-cell>
                </ng-container>

                <ng-container matColumnDef="attendance">
                    <mat-header-cell *matHeaderCellDef>Asistencias</mat-header-cell>
                    <mat-cell *matCellDef="let student">100%</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </div>
    </div>
    <div class="calendar-container">
        <h3>Calendario de Clases</h3>
        <mat-calendar [(selected)]="selectedDate" [dateClass]="dateClass" (selectedChange)="onDateSelected($event)"></mat-calendar>
    </div>
    <div class="buttons-container">
        <button class="primary-button full-width-btn" mat-flat-button (click)="openAddStudentModal()">Agregar alumno</button>
    </div>
</div>

<ng-template #modalOcupada>
    <div class="modal-clase-cargada">
        <button class="primary-button full-width-btn" mat-flat-button (click)="toggleEditMode()">
            {{ isEditingClass ? 'Cancelar edición' : 'Editar clase' }}
        </button>
        <div class="clase-cargada-inasistencias">
            <h4>Inasistencias</h4>

            <div *ngIf="isEditingClass" class="edit-students-section">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Agregar estudiante con inasistencia</mat-label>
                    <input
                        matInput
                        placeholder="Buscar estudiante por nombre"
                        [(ngModel)]="studentSearch"
                        (ngModelChange)="filterStudents()"
                        autocomplete="off"
                    />
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Seleccionar estudiante</mat-label>
                    <mat-select
                        [(ngModel)]="selectedStudent"
                        [disabled]="filteredStudentsForEdit.length === 0"
                        (selectionChange)="addStudentToLoadedClass($event.value)"
                    >
                        <mat-option *ngIf="filteredStudentsForEdit.length === 0" disabled>Ningún estudiante encontrado</mat-option>
                        <mat-option *ngFor="let student of filteredStudentsForEdit" [value]="student">
                            {{ student.firstName }} {{ student.lastName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="inasistencias-table">
                <div *ngIf="loadedClass.absentStudents.length > 0" class="inasistencias-row inasistencias-header">
                    <div class="inasistencias-nombre">Estudiante</div>
                    <div class="inasistencias-justificado">Justificado</div>
                    <div *ngIf="isEditingClass" class="inasistencias-actions"></div>
                </div>
                <div class="inasistencias-row" *ngFor="let student of loadedClass.absentStudents">
                    <div class="inasistencias-nombre" title="{{ student.firstName }} {{ student.lastName }}">
                        {{ student.firstName }} {{ student.lastName }}
                    </div>
                    <div class="inasistencias-justificado">
                        <mat-checkbox
                            [checked]="student.justificado"
                            [disabled]="!isEditingClass"
                            [(ngModel)]="student.justificado"
                            class="custom-checkbox"
                        >
                        </mat-checkbox>
                    </div>
                    <div *ngIf="isEditingClass" class="inasistencias-actions">
                        <mat-icon (click)="removeStudentFromLoadedClass(student)">close</mat-icon>
                    </div>
                </div>
                <div *ngIf="loadedClass.absentStudents.length === 0" class="no-inasistencias">
                    No hay inasistencias cargadas en esta clase
                </div>
            </div>
        </div>
        <mat-form-field appearance="outline" class="full-width class-description">
            <mat-label>Descripción de la clase</mat-label>
            <textarea
                matInput
                [(ngModel)]="loadedClass.description"
                placeholder="Agrega una descripción para la clase"
                rows="3"
                class="class-description-textarea"
                maxlength="140"
                [disabled]="!isEditingClass"
            ></textarea>
            <div *ngIf="isEditingClass" class="char-counter">{{ loadedClass.description.length || 0 }}/140</div>
        </mat-form-field>
    </div>
</ng-template>

<ng-template #modalLibre>
    <div class="modal-libre-container">
        <button class="primary-button button-toggle-modal-libre full-width-btn" mat-flat-button (click)="toggleModalView()">
            {{ showAltModal ? 'Cargar inasistencias' : 'Ver inasistencias cargadas' }}
        </button>
        <ng-container *ngIf="!showAltModal; else altModalContent">
            <div class="inputs-column">
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Estudiante con inasistencia</mat-label>
                    <input
                        matInput
                        placeholder="Nombre del Estudiante"
                        [(ngModel)]="studentSearch"
                        (ngModelChange)="filterStudents()"
                        autocomplete="off"
                    />
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Seleccionar estudiante</mat-label>
                    <mat-select
                        [(ngModel)]="selectedStudent"
                        [disabled]="filteredStudents.length === 0"
                        (selectionChange)="addSelectedStudent($event.value)"
                    >
                        <mat-option *ngIf="filteredStudents.length === 0" disabled>Ningún estudiante encontrado</mat-option>
                        <mat-option *ngFor="let student of filteredStudents" [value]="student">
                            {{ student.firstName }} {{ student.lastName }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width class-description">
                    <mat-label>Descripción de la clase (opcional)</mat-label>
                    <textarea
                        matInput
                        [(ngModel)]="classDescription"
                        placeholder="Agrega una descripción para la clase"
                        rows="3"
                        class="class-description-textarea"
                        maxlength="140"
                    ></textarea>
                    <div class="char-counter">{{ classDescription.length || 0 }}/140</div>
                </mat-form-field>
            </div>
        </ng-container>
        <ng-template #altModalContent>
            <div class="alt-modal-content">
                <h3>Inasistencias seleccionadas</h3>
                <div *ngIf="selectedStudents.length === 0">No hay estudiantes seleccionados.</div>
                <div *ngFor="let student of selectedStudents" class="selected-student-item">
                    <mat-icon (click)="removeSelectedStudent(student)">close</mat-icon>
                    <span>{{ student.firstName }} {{ student.lastName }}</span>
                    <span class="justificado-label">Justificado</span>
                    <mat-checkbox [(ngModel)]="student.justificado" class="custom-checkbox"></mat-checkbox>
                </div>
            </div>
        </ng-template>
    </div>
</ng-template>

<ng-template #addStudentModal>
    <div class="modal-add-student">
        <p class="student-data-title">Ingreso del DNI del alumno</p>
        <div class="search-student-container">
            <mat-form-field appearance="outline" class="dni-input">
                <mat-label>DNI</mat-label>
                <input matInput placeholder="Ingrese el DNI" [(ngModel)]="dniInput" type="text" />
            </mat-form-field>
            <app-submit
                type="button"
                [disabled]="isSearchingStudent || !dniInput"
                [loading]="isSearchingStudent"
                [withText]="true"
                [class]="'primary'"
                (click)="searchStudentByDni()"
            >
                Buscar
            </app-submit>
        </div>

        <div class="search-result-container" *ngIf="searchedDni">
            <div class="centered-modal-content">
                <mat-chip color="primary" selected class="dni-chip">DNI buscado: {{ searchedDni }}</mat-chip>
                <div *ngIf="foundStudent" class="student-data">
                    <p class="student-data-title">Datos del estudiante</p>
                    <div>Nombre: {{ foundStudent.firstName }}</div>
                    <div>Apellido: {{ foundStudent.lastName }}</div>
                    <div>Email: {{ foundStudent.email ? foundStudent.email : 'No tiene' }}</div>
                    <div>Teléfono: {{ foundStudent.phone ? foundStudent.phone : 'No tiene' }}</div>
                    <div *ngIf="foundStudent && isStudentInSubject(foundStudent)" class="already-in-subject-chip">
                        El alumno ya está en la materia
                    </div>
                </div>
                <div *ngIf="!foundStudent" class="student-create-form">
                    <p class="create-student-title">Crear nuevo estudiante</p>
                    <div class="form-fields-container">
                        <mat-form-field appearance="outline" class="student-form-field">
                            <mat-label>Nombre</mat-label>
                            <input
                                matInput
                                placeholder="Nombre"
                                [(ngModel)]="newStudent.firstName"
                                (ngModelChange)="onNewStudentFormChange()"
                                [class.input-error]="isFirstNameInvalid"
                            />
                        </mat-form-field>
                        <div class="error-message" *ngIf="isFirstNameInvalid">El nombre es obligatorio</div>
                        <mat-form-field appearance="outline" class="student-form-field">
                            <mat-label>Apellido</mat-label>
                            <input
                                matInput
                                placeholder="Apellido"
                                [(ngModel)]="newStudent.lastName"
                                (ngModelChange)="onNewStudentFormChange()"
                                [class.input-error]="isLastNameInvalid"
                            />
                        </mat-form-field>
                        <div class="error-message" *ngIf="isLastNameInvalid">El apellido es obligatorio</div>
                        <mat-form-field appearance="outline" class="student-form-field">
                            <mat-label>Email</mat-label>
                            <input
                                matInput
                                placeholder="Email"
                                [(ngModel)]="newStudent.email"
                                (ngModelChange)="onNewStudentFormChange()"
                                [class.input-error]="isEmailInvalid"
                            />
                        </mat-form-field>
                        <div class="error-message" *ngIf="isEmailInvalid">El email debe tener el formato: ejemplo&#64;dominio.com</div>
                        <mat-form-field appearance="outline" class="student-form-field">
                            <mat-label>Teléfono</mat-label>
                            <input
                                matInput
                                placeholder="Teléfono"
                                [(ngModel)]="newStudent.phone"
                                (ngModelChange)="onNewStudentFormChange()"
                            />
                        </mat-form-field>
                    </div>
                    <div *ngIf="foundStudent && isStudentInSubject(foundStudent)" class="already-in-subject-message">
                        El alumno ya está en la materia
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
