<app-header></app-header>
<div class="forgot-password-container">
    <div class="form-container">
        <h1>Recuperar Contraseña</h1>

        <!-- Formulario de email -->
        <div *ngIf="!showCodeInput">
            <p class="instructions">Ingresa tu email para recibir un código de verificación</p>
            <form [formGroup]="emailForm" (ngSubmit)="requestReset()">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email" />
                    <mat-error *ngIf="hasError(emailForm, 'email', 'required')"> El email es requerido </mat-error>
                    <mat-error *ngIf="hasError(emailForm, 'email', 'invalidEmail')">
                        El email debe tener el formato: ejemplo&#64;dominio.com
                    </mat-error>
                </mat-form-field>

                <app-submit [withText]="!loadingRequest" [loading]="loadingRequest" [disabled]="emailForm.invalid">
                    Enviar Código
                </app-submit>
            </form>

            <div class="back-to-login">
                <a routerLink="/login">Volver al inicio de sesión</a>
            </div>
        </div>

        <!-- Formulario de código de verificación -->
        <div *ngIf="showCodeInput">
            <p class="instructions">Ingresa el código de 6 dígitos que enviamos a tu email</p>
            <p class="email-display">{{ email }}</p>

            <form [formGroup]="codeForm" (ngSubmit)="verifyCode()">
                <mat-form-field appearance="outline" class="code-single-input">
                    <mat-label>Código</mat-label>
                    <input matInput type="text" formControlName="code" autocomplete="one-time-code" />
                    <mat-error *ngIf="codeForm.get('code')?.hasError('required') && codeForm.get('code')?.touched"
                        >El código es requerido</mat-error
                    >
                </mat-form-field>

                <app-submit [withText]="!loadingVerify" [loading]="loadingVerify" [disabled]="codeForm.invalid">
                    Verificar Código
                </app-submit>
            </form>

            <div class="back-to-login">
                <a routerLink="/login">Volver al inicio de sesión</a>
            </div>
        </div>
    </div>
</div>
