# Archivos compilados y generados por Angular
dist/
tmp/
out-tsc/
bazel-out/

# Dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log

# Configuración y archivos temporales de editores
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.history/

# Archivos misceláneos y temporales
.angular/cache
.sass-cache/
connect.lock
coverage
libpeerconnection.log

typings
.DS_Store
Thumbs.db

