{
    "printWidth": 140,
    "proseWrap": "never",
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false,
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": "*.json",
            "options": {
                "parser": "json",
                "proseWrap": "never",
                "singleQuote": false
            }
        },
        {
            "files": "*.md",
            "options": {
                "parser": "markdown"
            }
        },
        {
            "files": "*.{sass,scss}",
            "options": {
                "parser": "scss"
            }
        }
    ]
}
