@import '../../../../assets/styles/colors.scss';

.button-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width-button {
    width: 100%;
}

:host ::ng-deep .spinner.primary-spinner.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #f5f5f5;
}

:host ::ng-deep .spinner.secondary-spinner.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #53777a;
}
