<button
    type="submit"
    mat-flat-button
    [disabled]="disabled"
    [ngClass]="{
        'primary-button': class === 'primary' && !disabled,
        'secondary-button': class === 'secondary' && !disabled,
        'disabled-button': disabled
    }"
    class="button-content"
>
    <span class="button-inner-content">
        <span class="button-text">
            <ng-content></ng-content>
        </span>
        <mat-spinner
            *ngIf="loading"
            class="spinner"
            [ngClass]="{
                'primary-spinner': class === 'primary',
                'secondary-spinner': class === 'secondary'
            }"
            diameter="20"
        ></mat-spinner>
    </span>
</button>
