@import '../../../../assets/styles/colors.scss';

.header-container {
    background-color: $grey-color;
    padding: 16px 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 16px;

    .image-container {
        grid-column: span 2;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        img {
            width: 80px;
        }
    }

    .header-title {
        grid-column: span 4;

        h6 {
            display: block;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: $white-color;
        }
    }

    .links-header-desktop {
        grid-column: span 6;
        display: flex;
        justify-content: flex-end;
        gap: 12px;
    }

    .mobile-header {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-container {
        .image-container {
            grid-column: span 3;
            img {
                width: 60px;
            }
        }

        .header-title {
            grid-column: span 6;
        }

        .links-header-desktop {
            display: none;
        }

        .mobile-header {
            grid-column: span 3;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            mat-icon {
                font-size: 24px;
                color: $secondary-color;
            }
        }
    }
}
