@import "../../../../assets/styles/colors.scss";
@import "../../../../assets/styles/elements.scss";

.header-container {
  background-color: $gray-color;
  height: fit-content;
  padding: 16px 96px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;

  .image-container {
    display: flex;
    justify-content: flex-end;
    grid-column: span 6;

    img {
      width: 80px;
    }
  }

  .links-dashboard-container,
  .links-landing-container {
    display: flex;
    justify-content: flex-end;
    grid-column: span 6;
    gap: 12px;
  }


}
